html {
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}

div {
    display: block;

}

div .items {
    max-width: 1200px;
    /* min-width: 1200px; */
    position: relative;
    margin: 0 auto;
    height: 80px;
    /* background: #fff; */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

/*.new {
    color: goldenrod;
    font-size: 10px;
    top: -1px;
    font-weight: 600;
    position: absolute;
    right: -24px;
    text-transform: uppercase;
}
*/

.logo {
    display: block;
    height: 60px;
    transition: transform .3s cubic-bezier(.215,.61,.355,1);
}

.header {
    box-shadow: 0 15px 40px -20px rgba(40,44,63,.25);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: rgb(242, 252, 241);
    z-index: 1000;
    will-change: transform;
    transform: translateZ(0);
    transition: transform .3s ease;
    contain: size layout style;
    padding: 0 20px;
}

nav{
    width: 100%;
       
}

.location{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 30px;
    max-width: 300px;
    height: 30px;
    cursor: pointer;
    margin-bottom: -1px;
    padding-right: 10px;
}


.location-search {
    font-weight: 700;
    color: #3d4152;
    float: left;
    /*position: relative;*/
    box-sizing: border-box;
    cursor: pointer;
    align-items: center;
    margin-left: 30px;
    max-width: 300px;
    height: 30px;
    margin-bottom: -1px;
    padding-right: 10px;
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 50px;
    width: 100%;
    background: #3d4152;
}

.location-area {
    display: block;
    min-width: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    font-weight: 700;
    color: #3d4152;
    float: left;
}

.nav-items {
    flex: 1;
    min-width: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    height: 100%;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;

}

a:hover {
    text-decoration: none;
}

.help,.offers,.aboutus{
    padding-left: 48px;
    align-items: center;
    color: black;
    
}

.offers {
    position: relative;
    display: block;
}

.off-icon {
    position: absolute;
    left: 10px;
}

.help:hover,
.offers:hover,
.aboutus {
    color:green;
    
}

@media only screen and (max-width: 680px) {
    .aboutus { visibility: hidden;}
}


.list-item {
    margin-right: 60px;
    color: #3d4152;
    font-size: 18px;
    font-weight: 500;
    margin-right: 0;
    box-sizing: border-box;

}

.item1 {
    position: relative;
    box-sizing: border-box;
    display: block;
    cursor: pointer;

}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}


/*
nav img{
    max-width: 7%;
    height: auto;
    box-sizing: border-box;
}
*/