html, body{
    width: 99%;
    height: 100%;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0%;
    margin-bottom: 0px;
    margin: 0px;
    background-color:#ededed ;
    /* background-color: #fff; */
    font-family: lato;
   }

.logoarea {
    text-align: center;
    height: auto;
    width: 100%;
    display: block;
    box-sizing: border-box;
    
}
.logoarea img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    

}

.logoarea .dropdown {
    display: block;
    display: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
        
        z-index: 999;
        left: 0;

}
ul{
    padding: 0;
    list-style: none;
    /* background: #f2f2f2; */
}
ul li{
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
}
ul li a{
    display: block;
    padding: 8px 25px;
    color: #333;
    text-decoration: none;
}
ul li a:hover{
    color: #fff;
    background: #939393;
}
ul li ul.dropdown{
    min-width: 100%; /* Set width of the dropdown */
    background: #f2f2f2;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}
ul li:hover ul.dropdown{
    display: block;	/* Display the dropdown */
}
ul li ul.dropdown li{
    display: block;
}

@media screen and (max-width: 480px) {
    .logoarea .btn, .logoarea .dropdown-content {font-size: small;}
    
}

@media screen and (max-width: 355px) {
    .logoarea .btn, .logoarea .dropdown-content  {font-size: x-small;}
}

@media screen and (max-width: 270px) {
    .logoarea .btn, .logoarea .dropdown-content  {font-size: xx-small;}
}




/* ........................... */
/* @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
  margin-right: 0px;
   margin-top: 0px;
    position: relative;
    bottom: 60px;
    margin-bottom: 0px;
    padding: 10px 5px;
}

.footer-links {
    margin-left: 0px;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 0px;
    text-transform: uppercase;
}
#footer { */
   /* background: black !important;  */
    /* background-image: url("images/img3.jpg"); */
/* }
.footerab { */
    /* background: palevioletred; */
    /* position: relative;
    bottom: 10px;
    background-image: url("images/footerimg.jpg");
    margin-right: 0px;
    margin-bottom: -10px;
}
#footer h5{
  margin-top: 9px;
	padding-left: 12px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color:black;
}
#footer a {
    color: black;
    text-decoration: none !important;
    background-color: transparent; */
    /* -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease; */
	/* -moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color: rgb(5, 17, 9);
} */
/* #footer ul.social li a:hover{
	color: #007b5e;
} */
/* .fa-instagram:hover {
    color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}
.fa-facebook-f:hover {
    color: #4267B2;
}
.fa-twitter:hover {
    color: #1DA1F2;
}
.fa-youtube-play:hover {
    color: #FF0000;
}
.fa-envelope:hover {
    color: rgb(0, 183, 255);
}
#footer ul.quick-links li{
	padding: 3px 0; */
	/* -webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}



.covertrans {
  text-decoration: #f1f1f1;
    align-content: center;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgba(14, 238, 14, 0.2);
     height: 70px;
     width: 100%;
     position:;
     margin-bottom:0px;
     z-index: 100;
}

.h6{
  margin-top: -12px;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}


}


@media screen and (max-width: 600px) {


  .display-1{
    font-size: 30px;
  }

  .btn{
    width: 30px;
    height: 30px;
  }

  .btn i{
    line-height: 26px;
    font-size:18px;
  }

  .container1{
    font-size: 10px;
    
  }

  section {
    margin-top: 0px;
     bottom: 50px;
     /* background-image: url("images/img3.jpg"); */
    /* }

    
}

.middle{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
  
   } */ 