*{
    margin: 0px;
    padding: 0px;
}

.body{
   background-color: rgb(4, 121, 29);
   font-family: sans-serif ;
}



/*----------top nav----------*/

.top-nav-bar
{
    height: 57px;
    top: 0;
    position: sticky;
    background: #fff;
    margin-bottom: 20px;
    border-bottom: 3px solid green;
    z-index: 2;
}

.logo
{
    height: 53px;
    width: 140px;
    margin: 2px;
    cursor: pointer;
}

.form-control{
    height: 38px;
    margin-top: 9px;
    margin-left: 30px;
    border: 1px solid rgb(5, 134, 5) ;
    border-top-left-radius:20px !important ;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius:0px !important ;
    border-bottom-right-radius: 0px !important ;
    box-shadow: none !important;
}

.input-group-text{
    background-color: green;
    margin-top: 9px;
    height: 38px;
    background: green;
    border-color: green;
    border: 1px solid green ;
    border-top-left-radius:0px !important ;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius:20px !important ;
    border-bottom-right-radius: 20px !important ;
    cursor: pointer;
}

.search-box{
margin-left: 0px;    
display: inline-flex;
width: 60%;

}

.fa-search{
    color: white;
}

.menu-bar{
width: 40%;
height: 57px;
float: right;

}

.menu-bar ul {
    display: inline-flex;
    float: right;
}

.menu-bar ul li {
    border-left: 1px solid #fff;
    list-style-type: none;
    padding: 15px 35px;
    text-align: center;
    background-color: green;
    cursor: pointer;
}

.menu-bar ul li a {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration:none;

}
 
.fa-shopping-cart{
   margin-right: 5px; 
}

.fa-gift{
    margin-right: 5px;
}

.fa-question{
   margin-right: 5px;
}

.fa-heart{
    margin-right: 5px;
}

@media only screen and (max-width: 980px)
{
 .top-nav-bar{
     height: 118px;
     border-bottom: 0;
 }

 .search-box{
     width: 100%;
 }

 .menu-bar{
     width: 100%;
 }

 .menu-bar ul {
     width: 100%;
 }

 .menu-bar ul li {
     width: 100%;
 }

}

/*----------top nav end----------*/

/*----------side nav----------*/


.side-menu ul {
    margin-left: 10px;
}

.side-menu ul li {
    list-style-type: none;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}



.side-menu ul li:hover{
    color: green;

}

.fa-hand-o-down{
    margin-top: 2px;
    margin-right: 58px;
    float: right;
}

.fa-mouse-pointer{
    margin-top: 0.5px;
    margin-right: -12px;
    float: right;
}

.fa-leaf{
    margin-top: 4px;
    margin-left: 8px;
    margin-right: 3px;
    float: left;
}

.fa-wrench{
    margin-top: 4px;
    margin-left: 8px;
    margin-right: 3px;
    float: left;
}

.fa-level-down{
    margin-top: 4px;
    margin-right: 18px;
    float: right;
}


#mySidenav a {

    height: 79%;
width: 15%;
font-size: 14px;
float: left;
z-index: 2; 
margin-top: 22px;
  position:fixed;
  left: -220px;
  transition: 0.3s;
  padding: 15px;
  width: 250px;
  height: 650px;
  text-decoration: none;
  font-size: 17px;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor:initial;
  
}

#mySidenav a:hover {
  left: 0;
}

#about {
  top: 43px;
  background-color: #4CAF50;
}


@media only screen and (max-width: 980px)
{

    #about {
        top: 123px;
        background-color: #4CAF50;
      }
    
      #mySidenav a {

        height: 30%;
    width: 35%;
    font-size: 18px;
    left: -290px;
      }

      .fa-mouse-pointer{
        margin-top: 0.5px;
        margin-right: -88px;
        float: right;
    }

    .fa-level-down{
        margin-top: 4px;
        margin-right: 59px;
        float: right;
    }
    
 
}

/*----------side nav end----------*/


.position1{
    margin-left: 0px;
    margin-top: -20px;
    font-size: 12px;
    text-decoration: gray;
} 



/*----------nursery section starts----------*/



.container1 {
    border: 4px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0
  }
  
  .container1::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container1 img {
    height: 30%; 
    width: 40%;
    float: left;
    margin-right: 20px;
    border-radius: 10%;
    size: 50px;
    border-width: 35px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .container1 span {
    font-size: 20px;
    margin-left: 25px;
  }
  
  @media (max-width: 500px) {
    .container1 {
        text-align: center;
    }
    .container1 img {
        margin: auto;
        float: none;
        display: block;
    }
  }

  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 6px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
      border-radius: 10%;
    background-color: rgb(171, 224, 158); 
    color: black; 
    border: 2px solid #4CAF50;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }

  .fa-phone{
      margin-right: 5px;
  }

  .fa-map-marker{
    margin-right: 5px;
  }

  .checked {
    color: orange;
  }
  
  .rating{
  float:right;
  margin-top: 10px;
  }

  .fa-star{
      
      margin-right: 3px;
  }


  /*----------nursery section ends----------*/


  /*----------plant section starts----------*/


.featured-categories
{
    margin: 50px 0;

}

.featured-categories img
{
    width: 100%;
    padding: 20px;
    transition: 1s;
    cursor: pointer;
}

.featured-categories img:hover
{
    transform: scale(1.1);
}


 /*----------bonsai----------*/

 .title-box{
     background: green;
     color: #fff;
     width: 180px;
     padding: 4px 10px;
     height: 40px;
     margin-bottom: 30px;
     display: flex;
 }

 .title-box h2 {
     font-size: 24px;
 }

 .title-box::after 
 {
     content: '';
     border-top: 40px solid green;
     border-right: 50px solid transparent;
     position: absolute;
     display: flex;
     margin-top: -4px;
     margin-left: 170px;
 }

 /*-----product-top css---------*/
 .product-top img
 {
     width: 100%;
 }
 .overlay-right
 {
     display: block ;
     opacity: 0;
     position: absolute;
     top: 10%;
     margin-left: 0 ;
     width: 70px;
 }

 .overlay-right .fa {
     cursor: pointer;
     background-color: #fff;
     color: #000;
     height: 35px;
     width: 35px;
     font-size: 20px;
     padding: 7px;
     margin-top: 5%;
     margin-bottom: 5%;
 }

 .overlay-right .btn-secondry{
     background: none !important;
     border: none !important;
     box-shadow: none !important;
 }

.product-top:hover .overlay-right{
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s;

}

.product-bottom .fa {
    color: green;
    font-size: 10px;
}

.product-bottom h3 {
    font-size: 20px;
    font-weight: bold;
}

.product-bottom h5 {
    font-size: 15px;
    padding-bottom: 10px;
}